.container {
  font-family: 'Lato';
}

.navbar {
  width: 100%;
  height: 10vh;
  color: #fff;
  background: linear-gradient(115deg, #4e54c8, #8f94fb);
  display: flex;
  align-items: center;
  justify-content: center;
}